 <footer>
            {{!-- <p>Created by Matt - Copyright {{currentYear}}</p> --}}
            <p>Created by Matt - Copyright {{getCurrentYear}}</p> <!-- from hbs.registerhelper function !-->
        </footer>