 <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABOUT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="main.js"></script>
    </head>
    <body>
        {{!-- <h1>{{pageTitle}}</h1> --}}
        {{> header}} <!-- from header.hbs !-->
        <p>{{screamIt welcomeMessage}}</p> <!-- from hbs.registerhelper function !-->
                {{> footer}} <!-- from footer.hbs !-->
        {{!-- <footer>
            <p>Copyright {{currentYear}}</p>
        </footer> --}}
    </body>
    </html>
